@charset "utf-8";
/* CSS Document */

/*GLABAL*/

body {
    font-family: "ariel", "Helvetica";
    width      : 100%;
    height     : 100%;
    margin     : 0;
    padding    : 0;
    transition : 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.section-heading {
    font-size: 2rem;
}

/*header {
    width           : 100%;
    position        : fixed;
    top             : 0;
    z-index         : 99;
}*/


/*NAVIGATION BAR*/

.social-logos {
    float        : right;
    padding-right: 15px;
}

.top-nav {
    position        : fixed;
    top             : 0;
    z-index         : 1;
    width           : 100%;
    height          : 70px;
    float           : left;
    background-color: white;
}

.top-nav ul {
    list-style: none;
    margin-top: 25px;

}

.top-nav li {
    display: inline;
    float  : left;
    
}

.top-nav a {
    text-decoration: none;
    color          : gray;
    padding-right  : 55px;
}


/*SIDE NAVIGATION*/

.nav-toggle {
    display: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-toggle:hover {
    color: #8468ff;
}

.side-nav {
    /*display: none;*/

}

.side-nav {
    width           : 0;
    height          : 100%;
    position        : fixed;
    left            : 0;
    background-color: lavender;
    z-index         : 2;
    overflow-x      : hidden;
    transition      : 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.side-nav ul {
    list-style: none;
    margin-top: 25px;
}

.side-nav li {
    padding: 1rem 0;    
}

.side-nav a {
    display: block;
    text-decoration: none;
    color          : gray;
    font-size: 2rem;
}

.close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
}
/*LANDING PAGE*/

.welcome-screen {
    position        : relative;
    top             : 70px;    
    margin          : auto;
    width           : 90%;
    height          : 600px;
    text-align      : center;
    color           : white;
    background      : linear-gradient(180deg, #ff7bb1, #fe9a98);    
}

.flask {
    padding-top: 100px;
    width      : 100px;  
    filter: invert(100%);
}

.factory {
    font-size: 5rem;
}


/*-------------------------------------
            SHOP SECTION
--------------------------------------*/

#shop {
    margin  : 0 auto;
    width   : 90%;
    position: relative;
    top     : 70px;
}

.shop-header {
    color     : #8468ff;
    text-align: center;
    padding   : 20px 0;
}

div.desc {
    text-align : center;
    line-height: 1.5em;
    color      : gray;
    margin-top : 1rem;

}
.price {
    color      : #8468ff;
    font-weight: bold;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.product {
    position: relative;
    overflow: hidden;
}

.quick-view {display: none;}  




/*-----------------------------------------------------
                ABOUT SECTION
-----------------------------------------------------*/
#about {
    background      : linear-gradient(180deg, #a480fc, #cf96fd);
    width           : 100%;
    margin          : 0 auto;
    height          : 500px;
    background-color: lightgray;
    position        : relative;
    top             : 70px;
}
.about-header {
    margin-top: .5rem;
}

.about-logo {
    width: 60px;
    height: 45px;
    filter: invert(100%);
    margin: 0 auto;
}

#aboutParagraph {
    font-size  : small;
    line-height: 1.8em;
    animation  : fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#aboutContainer {
    color     : white;
    margin    : auto;
    position  : relative;
    text-align: center;
    top       : 30%;
    width     : 400px;
}

/*GOOD TO KNOW*/

.good-to-know {
    height       : 500px;
    margin       : 90px auto;
    width        : 90%;
    margin-bottom: 450px;
}

.good-heading {
    padding-top        : 60px;
    color              : #8468ff;
    text-align         : center;
    background-image   : url(../images/cloud.svg);
    background-position: top center;
    background-repeat  : no-repeat;
    background-size    : 60px 45px;
}

.circles {
    border-radius: 50%;
    height       : 200px;
    width        : 200px;
    margin       : 1rem auto;
    position     : relative;
}


.circle-1 {
    background         : url(../images/house.svg), linear-gradient(to right, #bef6ec, #7eedd6);
    background-position: center;
    background-size    : 60px 60px, cover;
    background-repeat  : no-repeat;
}

.description p {
    font-size: .9rem;
    color: #969696;
    text-align: center;
    text-transform: uppercase;
}

.circle-2 {
    background         : url(../images/exclamation-circle.svg), linear-gradient(to right, #fdc0a3 15%, #ff96b4);
    background-position: center;
    background-size    : 60px 60px, cover;
    background-repeat  : no-repeat;
}

.circle-3 {
    background         : url(../images/thermometer.svg), linear-gradient(to right, #d3c9fe 15%, #a28eff);
    background-position: center;
    background-size    : 60px 60px, cover;
    background-repeat  : no-repeat;
}




/*CONTACT*/
#contact {
    width     : 100%;
    background: linear-gradient(180deg, #fe86a9, #fda091);
    margin    : 20px auto;
    color     :white;
}
.contact-me {
    text-align: center;
    height    : 50px;
}

.contact-info {
    text-align: center;
}

form.sign-up-form {
    display       : flex;
    flex-direction: column;
    width         : 40%;
    margin        : 0 auto;
}

input::placeholder, textarea::placeholder {
    color: white;
}
#message:focus, #name:focus, #email:focus, #subject:focus {
    border-bottom: 1px solid black;
    outline: none;
    transition: border-bottom 1s ease-in-out;
}

form.sign-up-form input, #message {
    background-color: transparent;
    border: none;
}

#message, #name, #email, #subject {
    padding-bottom: 8px;
    margin-bottom : 27px;
    border-bottom : 1px solid white;
}

.airplane  {
    width      : 60px;
    height     :  45px;
    margin     : 0 auto;
    display    : block;
    filter     : invert(100%);
    padding-top: 50px;
}



/*MEDIA QUERIES */


@media(max-width: 375px) {
    .product-image {
        width: 100%;
    }
}



@media(min-width: 700px) {
    .wrapper {
        margin               : 0 auto;
        display              : grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap             : 2em;
        justify-content      : space-around;
        max-width            : 960px;
    }
    
    .product-image:hover {
        transform: scale(1.1);
        cursor   : pointer;
    }
    .product-image {
        width: 100%;
    }

    .quick-view {
        display: block;
        height          : 50px;
        width           : 100%;
        background-color: #8468ff; 
        color           : white;
        text-align      : center;
        font-size       : 20px;
        transition      : .5s;
        position        : absolute;
        bottom          : -50px;
    }   
    
    .product:hover .quick-view {
    transition: .5s;
    bottom    : 2px;
    }

    .symbols {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .good-to-know {
        margin-bottom: 90px;
    }
}



@media(max-width: 560px) {

    .top-nav ul li:not(:first-child) {
        display: none;
    }
    
    .nav-toggle {
        display: block;
    }
}